# MariaDB 10.1 repository list - created 2016-10-11 10:23 UTC
# http://downloads.mariadb.org/mariadb/repositories/
deb [arch=amd64,i386] http://mirrors.coreix.net/mariadb/repo/10.1/ubuntu xenial main
deb-src http://mirrors.coreix.net/mariadb/repo/10.1/ubuntu xenial main