<VirtualHost *:8080>
    ServerName cms.vm
    ServerAlias admin.cms.vm
    DocumentRoot /var/www/cms/web

    <FilesMatch \.php$>
        SetHandler proxy:fcgi://127.0.0.1:9000
    </FilesMatch>

    <Directory /var/www/cms/web>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog /var/www/cms/var/logs/apache_error.log
    CustomLog /var/www/cms/var/logs/apache_access.log combined
</VirtualHost>