<VirtualHost *:8080>
    ServerName logs.cms.vm

    DocumentRoot /var/www/pimpmylog

    <FilesMatch \.php$>
        SetHandler proxy:fcgi://127.0.0.1:9000
    </FilesMatch>

    <Directory /var/www/pimpmylog>
        AllowOverride All
        Options Indexes FollowSymLinks
        Require all granted
        DirectoryIndex index.php
    </Directory>
</VirtualHost>